<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Made Web</title>
</head>
<body>
<div style="margin: auto;
    width: 30%;
    border: 3px solid green;
    padding: 10px;">
    <h3>Text Made Web</h3>
    <p>Making the web smaller</p>
    {% if not message %}
        <form method="post" action="/">
            {% csrf_token %}
            <input style="width: 80%" type="text" name="url"/>
            <button type="submit">Text it!</button>
        </form>
    {% else %}
        <h4 style="color: darkred">{{ message }}</h4>
        <a href="/"><- back</a>
    {% endif %}
</div>
<div style="position: fixed; bottom: 20px; left: 20px;">Fork me on <a target="_blank" href="https://github.com/jadolg/TextMadeWeb">GitHub</a></div>
</body>
</html>